body {
	background-color: Azure;
	margin-left: 10%;
	margin-right: 10%;
	font-family: sans-serif;
}

h1.header {
	text-align: center
}

h4{
	text-align: center
}

h2{
	text-align: center
}

.img_header {
	background-image: url(/image/VW-Porsche-914_0.jpg);   
    width: 300px; 
    height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto
} 

.img_header:hover {
    background: url(/image/VW-Porsche-914_1.jpg); /* Путь к файлу с заменяемым рисунком  */
	width: 300px; 
    height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto
   }
   
.img_header_con {
	width: 300px; 
    height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto	
}

ol li {
  line-height: 2.5;
}

#href_desc {
	text-align:justify;
	text-indent: 40px;
}

#href_history {
	text-align:justify;
	text-indent: 40px;
}

table.commonData{
    border-collapse: separate; /* Способ отображения границы */ 
    width: 100%; /* Ширина таблицы */ 
    border-spacing: 0 15px; /* Расстояние между ячейками */ 	
}

table.design{
    border-collapse: separate; /* Способ отображения границы */ 
    width: 100%; /* Ширина таблицы */ 
    border-spacing: 0 15px; /* Расстояние между ячейками */
}

table.dimensions{
    border-collapse: separate; /* Способ отображения границы */ 
    width: 100%; /* Ширина таблицы */ 
    border-spacing: 0 15px; /* Расстояние между ячейками */
}

div.hiddenText {
	display: none;
}

div.Version {
    border: 2px  solid grey;  
    width: 100%; 
	margin-bottom: 100px; 	
}
hr.marginHr {
	margin-top: 100px;
}
div.linkBack {
	text-align:center;
}