body {
	background-color: Azure;
	margin-left: 10%;
	margin-right: 10%;
	font-family: sans-serif;
}

table.commonData{
    border-collapse: separate; /* Способ отображения границы */
    width: 100%; /* Ширина таблицы */
    border-spacing: 0 15px; /* Расстояние между ячейками */
}