body {
	background-color: Azure;
	margin-left: 10%;
	margin-right: 10%;
	font-family: sans-serif;
}

table.getData{
    border-collapse: separate; /* Способ отображения границы */
    width: 100%; /* Ширина таблицы */
    border-spacing: 0 15px; /* Расстояние между ячейками */
}
.buttonSubmit{
    background: DodgerBlue;
    color: white;
    font-size: 14pt;
}

input {
  text-align: center;
}